@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.linker_body {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: #202020;
    overflow: auto;
}

.top {
    display: block;
    width: 100%;
}

.top img {
    display: block;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.middle {
    display: block;
    width: 80%;
    margin: 30px auto;
    @media (max-width: 768px) {
        width: 95%;
    }
}

.middle_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

.middle_top img {
    display: block;
    width: 40%;
    margin-right: 40px;
    border-radius: 100%;
}

.middle_text {
    display: block;
    width: 48%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.middle_text h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-align: start;
    margin: 0;
    @media (max-width: 768px) {
        font-size: 40px;
    }
    @media (max-width: 576px) {
        font-size: 32px;
    }
}

.middle_text p {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: start;
    margin: 0;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.middle_bottom {
    display: block;
    width: 100%;
}

.middle_bottom a {
    display: block;
    margin: 25px auto;
    width: 250px;
    padding: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

#email {
    background-color: #3f3f3f;
    color: #ffffff;
    transition-duration: 0.3s;
}

#instagram {
    background-color: #cd486b;
    color: #ffffff;
    transition-duration: 0.3s;
}

#spotify {
    background-color: #1db954;
    color: #1b1c1e;
    transition-duration: 0.3s;
}

#beatport {
    background-color: #01ff95;
    color: #1b1c1e;
    transition-duration: 0.3s;
}

#facebook {
    background-color: #316FF6;
    color: #ffffff;
    transition-duration: 0.3s;
}

#youtube {
    background-color: #ff0000;
    color: #ffffff;
    transition-duration: 0.3s;
}

#soundcloud {
    background-color: #ff8800;
    color: #ffffff;
    transition-duration: 0.3s;
}

#email:hover,
#instagram:hover,
#beatport:hover,
#spotify:hover,
#facebook:hover,
#youtube:hover,
#soundcloud:hover {
    background-color: #e5ff00;
    color: #000000;
    transition-duration: 0.3s;
}

.bottom {
    display: block;
    width: 100%;
    margin: 50px auto 0;
    background-color: #000000;
    padding: 30px 0;
}

.bottom p {
    display: block;
    width: 95%;
    margin: 5px auto;
    font-size: 12px;
    font-weight: 400;
    color: #d8d8d8;
    @media (max-width: 576px) {
        margin: 3px auto;
        font-size: 9px;
    }
}

.bottom a {
    display: block;
    width: 95%;
    margin: 5px auto;
    font-size: 12px;
    font-weight: 400;
    color: #d8d8d8;
    text-decoration: none;
    transition-duration: 0.3s;
    @media (max-width: 576px) {
        margin: 3px auto;
        font-size: 9px;
    }
}

.bottom a:hover {
    color: #919191;
    transition-duration: 0.3s;
}
